{% extends 'base.html' %}

{% block content %}
    Activity: {{ game.activity }} <br>
    Image: {{ game.image.url }} <br>
    Creator: {{ game.creator.email }} <br>
    Members:
    {% for member in game.members.all %}
        {{ member.get_upper_email }} <br>
    {% endfor %}
    Top: <p class="test">{{ game.top_user.get_upper_email }}</p>
    {% if request.user.is_authenticated %}
        {% if request.user in game.members.all %}
            <a href="{% url 'enter_game' game_id=game.id %}">Cancel</a>
        {% else %}
            <a href="{% url 'enter_game' game_id=game.id %}">Enter game</a>
        {% endif %}
    {% endif %}
{% endblock content %}

